.game_section {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game_section_img {
  background-image: url("https://live.staticflickr.com//65535//49298804222_474cfe8682.jpg");
  width: 200px;
  height: 155px;
  background-size: contain;
  background-repeat: no-repeat;
}

.game_section_text {
  font-weight: bold;
  font-size: 32px;
  color: white;
}
